/* temp page css */

:root {
    --cold: 5px 10px 75px #249ef5;
    --hot: 5px 10px 75px #ff0000;
}

body {
    font-family: sans-serif;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.app-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;
}

.temperature-display {
    display: flex;
    border-radius: 50%;
    height: 220px;
    width: 220px;
    justify-content: center;
    align-items: center;
    font-size: 48px;
    color: #04040A;
    margin-bottom: 20px;
}

.button-container {
    display: flex;
    justify-content: center;
}

.button-container > button {
    padding: 30px; /* Increased padding for bigger buttons */
    border: none;
    background: none;
    font-size: 32px;
    margin: 20px; 
    color: gray;
}

.cold {
    box-shadow: var(--cold);
}

.hot {
    box-shadow: var(--hot);
}

/* Additional styling for the Maintain button */
.maintain-button {
    padding: 20px 30px; /* Adjust padding for the Maintain button */
    font-size: 18px; /* Adjust font size for the Maintain button */
}

