annotated-types
anyio
beautifulsoup4
bs4
certifi
charset-normalizer
click
fastapi
grpcio
grpcio-tools
h11
idna
joblib
nltk
numpy
opencv-python
pandas
pika
protobuf
pydantic
pydantic_core
python-dateutil
python-dotenv
pytz
regex
requests
scikit-learn
scipy
setuptools
six
sniffio
soupsieve
starlette
threadpoolctl
tqdm
typing_extensions
tzdata
urllib3
uvicorn
